body {
    background-color: #dceaf7;  /* Light blue */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dceaf7;
    display:flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    border: 2px solid black;
    background-color: rgb(161, 206, 255);
    margin: 5px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #a6caec;
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgb(81, 146, 224);
    color: white;
    padding: 50px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    flex: 1;
    text-align: middle;


}

.header img {
    margin-left: 125px;
    height: 100px;
    width: 100px;
    position: absolute;
}

.footer {
    background-color: rgb(81, 146, 224);
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.content {
    text-align: center;
    margin: 20px;
}

.content-row-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.content-box-home {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 350px;
}

.content-box-home img {
    margin-bottom: 10px;
    height: 175px;
    max-width: 100%;
}