body {
    background-color: #dceaf7;  /* Light blue */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dceaf7;
    display:flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    border: 2px solid black;
    background-color: rgb(161, 206, 255);
    margin: 5px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #a6caec;
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgb(81, 146, 224);
    color: white;
    padding: 50px 0;
    font-size: 14px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    flex: 1;
    text-align: center; /*this said middle*/


}

.header img {
    margin-left: 125px;
    height: 100px;
    width: 100px;
    position: absolute;
}

.content {
    text-align: center;
    margin: 20px;
}

.content-row-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.content-box-home {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 350px;
}

.content-box-home img {
    margin-bottom: 10px;
    height: 175px;
    max-width: 100%;
}
/*aboutus styles*/
.aboutus-section{
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);         /*can remove all the shadows if it dosent suit*/
  font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutus-intro{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.aboutus-intro img{
    width: 350px;       /*might change*/
    height: auto;
    border-radius: 8px;
    box-shadow: 0   2px 6px rgba(0, 0, 0, 0.1);
}.company-text p {
  font-size: 1rem;
  line-height: 1.6; /*do i need this*/
  color: black;
  text-align: left;
}
.testimony-row {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;

  
}
.testimony-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;         /*might need to add a border box or remove display*/
  display: block;
  box-sizing: border-box
}
.testimony-box p {
  margin-bottom: 10px;
  font-size: 1rem;  /*1rem usually 16px but uses the html base format*/
  color: black;
}
.testimony-box strong {
  display: block;
  font-size: 1rem;
  color: #666;  /*colour difference not necessary*/
  margin-top: 10px;
}


footer {
    background-color: rgb(81, 146, 224);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

footer .footer-text {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .footer-icons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 50px;
}


